<head>
  <script type="text/javascript" src="//cdn.sublimevideo.net/js/nkwf4bxq.js"></script>
</head>
<p id="notice"><%= notice %></p>
<%= render "video" %>
   

<p>
  <b>Description:</b>
  <%= @video.description %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
